/* style-about.css */
/* General Body Styles for About Page */
body {
    font-family: Arial, sans-serif;
    background-image:url('Images/ecology-solar-power-station-panels-on-a-roof-of-a-residential-house-green-eco-friendly-house-concept-with-solar-energy-panel-close-up-of-solar-power-plant-eco-technology-high-quality-4k-footage-video.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh; /* Ensure the body fills the viewport height */
    display: flex;
    flex-direction: column;
}

/* Hero Section */
.hero {
    background: #115d98;
    position: relative;
    color: #fff;
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
}

/* Square Image Section */
.square {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.square img {
    border-radius: 50%;
}

/* Text Styles */
h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

/* Carousel Styles */
.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-item {
    padding: 0;
    margin: 0;
}

.carousel-inner {
    padding: 0;
    margin: 0;
}

.social-share {
    position: fixed;
    top: 50%;
    right: -300px;
    width: 300px;
    height: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
}

.social-share .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.social-share .social-links a {
    display: block;
    margin: 10px 0;
}

.social-share .social-links img {
    width: 40px;
    height: 40px;
}

.social-share .toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fcaf17;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-share.open {
    right: 0;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer .social-media {
    margin-bottom: 10px;
}

.footer .social-media a {
    margin: 0 10px;
    display: inline-block;
}

.footer .social-media img {
    width: 30px;
    height: 30px;
}

.footer p {
    font-size: 14px;
    margin: 0;
}

