body {
    font-family: Arial, sans-serif;
    background-color: #4b6aa2;
    width: 100%;
    margin: 0;
}

header {
    background-color: transparent;
}

.logo-name {
    font-size: 20px;
    font-weight: bold;
}

.navigation {
    font-size: 18px;
}

main {
    min-height: 30vh;
}

.logo-alternative {
    position: relative;
}

.logo-stack {
    position: relative;
    width: 150px;
    height: 150px;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #4b6aa2;
    border: 1px solid #cccccc00;
    z-index: 1;
}

.logo:nth-child(2) {
    background-color: #3e5889;

    transform: rotate(-10deg);
    z-index: 2;
}

.logo:nth-child(3) {
    background-color: #6581b5;

    transform: rotate(0deg);
    z-index: 3;
}

footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
    padding: 20px;
}

.frontHeaderShift {
    text-align: left;
    flex: auto;
}

.void{
    background-color: #30303000;
    border-bottom: none;
    box-shadow: none;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.navbar-nav .nav-link {
    margin-left: 15px; /* Adjust spacing between buttons if needed */
  }

.navbar {
    background-color: transparent !important; /* Override Bootstrap's default background */
    box-shadow: none; /* Remove any box shadow */
}

.hero {
    min-height: 80vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.textLayingOnColorW{
    color: white;
}

.textLayingOnColorB{
    color: rgb(0, 0, 0);
}